body {
    opacity: 0.3; /*Couldn't change opacity*/
    background-image: url("landscape.jpg"), url("landscape.jpg");
    background-repeat: no-repeat, no-repeat;
    background-attachment: scroll, fixed;
    background-clip: padding-box, padding-box;
    background-size: 900px 1000px, 900px 1000px; 
    background-position: left, right;
}

#firstTable {
    border-collapse: collapse;
    background-color: coral;
    text-align: center;
    border: 2px solid black;
}
#firstTable td, th  {
    border: 3px solid red;
    padding: 30px;
}
footer {
    color : rgb(231, 86, 1);
    font-size: 14px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#firstTable td:nth-child(2), th {
    background-color: magenta;
}
#test1 {
    text-align: center;
    font-style: italic;
    background-color: yellowgreen;
    display: inline-block;
    padding-bottom: 25px;
}
#rtlp {
    color: #0000ff;
    font-size: 190%;
}
blockquote {
    text-transform: capitalize;
}
/*It is 
a comment
*/
.test2 {
    font-family: "Sofia", cursive;
}

.linkTest {
    color: white; 
    padding: 10px; 
    background-color: red;
}

.linkTest:hover {
    background-color: lightcoral;
}

#w3Table td,th,tr {
    border-collapse: collapse;
    border: solid 1px #ddd;
    padding: 20px;
    text-align: left;
}
#w3Table {
    width: 50%;
}
#w3Table th {
    background-color: #4caf50;
    color: white;
}
#w3Table tr:nth-child(even){
    background-color: #f2f2f2;
}
#w3Table tr:hover{
    background-color: yellowgreen;
}
 