body {
    opacity: 0.3; /*Couldn't change opacity*/
    background-image: url("landscape.jpg"), url("landscape.jpg");
    background-repeat: no-repeat, no-repeat;
    background-attachment: scroll, fixed;
    background-clip: padding-box, padding-box;
    background-size: 900px 1000px, 900px 1000px; 
    background-position: left, right;
}

#firstTable {
    border-collapse: collapse;
    background-color: coral;
    text-align: center;
    border: 2px solid black;
}
#firstTable td, th  {
    border: 3px solid red;
    padding: 30px;
}
footer {
    color : rgb(231, 86, 1);
    font-size: 14px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#firstTable td:nth-child(2), th {
    background-color: magenta;
}
#test1 {
    text-align: center;
    font-style: italic;
    background-color: yellowgreen;
    display: inline-block;
    padding-bottom: 25px;
}
#rtlp {
    color: #0000ff;
    font-size: 190%;
}
blockquote {
    text-transform: capitalize;
}
/*It is 
a comment
*/